.wp-block-post-content > *,
.l-review{
	max-width: initial !important;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* some global resets */

.show-review-posts-row p,
.show-review-posts-row h1,
.show-review-posts-row h2,
.show-review-posts-row h3,
.show-review-posts-row h4,
.show-review-posts-row h5,
.show-review-posts-row h6 {
	margin: 0 !important;
	padding: 0 !important;
}


.review-posts-entry-content{
	padding: 30px 0 10px 0;
}

.review-posts-entry-content img {
	display: block;
	margin-top: 20px;
	max-width: 150px;
}

.show-reviews-posts-share-button{
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    background: conic-gradient(from 268.29deg at 106.47% 109.82%, #59D0DB 0deg, #072630 275.62deg, #59D0DB 360deg);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all .3s ease;
    text-decoration: none;
    max-width: 260px;
    padding: 11px 0;
	color:#000;
}

.show-reviews-posts-share-button:hover{
    background: conic-gradient(from 268.29deg at 106.47% 109.82%, #59D0DB 0deg, #59D0DB 275.62deg, #59D0DB 360deg);
	color:#000;
}

.show-reviews-posts-share-button:focus{
	background: conic-gradient(from 268.29deg at 106.47% 109.82%, #59D0DB 0deg, #59D0DB 275.62deg, #59D0DB 360deg);
	color:#000;
}

/* Main layout */

.show-review-posts-row {
	max-width:1100px;
	margin:0 auto;
	background: #fff;
	padding: 1rem;
	box-shadow: none;
}

.show-review-posts-flex-article,
.show-review-posts-flex-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.show-review-posts-flex-header{
align-items: center;
}

.show-review-posts-header-right{
	display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;
	flex-wrap: wrap;
}

.show-review-posts-header-rating{
	position: relative;
	display: flex;
	align-items: flex-end;
	width: 192px;
	justify-content: space-between;
	padding: 6px 0;
}

.show-review-posts-header-rating__num{
	font-weight: 900;
	font-size: 36px;
	color: #072630;
    line-height: 1;
    position: relative;
}

.show-review-posts-header-rating__num svg{
	position: absolute;
}

.show-review-posts-header-rating__revcounter{
	font-size: 16px;
    line-height: 24px;
    color: #A6B19B;
}

.show-review-posts-header-rating .scale{
	width: 100%;
	background: #F2F4F1;
	border-radius: 1px;
	height: 4px;
	position:absolute;
	bottom:0;
	left:0;
	z-index: 1;
	overflow: hidden;
}

.show-review-posts-header-rating .scale span{
	position: absolute;
	left:0;
	z-index: 2;
	height: 4px;
	width: 56%;
	background: #ABD490;
}


@media only screen and (max-device-width :768px) {
	.show-review-posts-row {
		padding: .5rem !important;
	}
}


/* main logos */

.show-review-posts-row .logos-img {
	/*height          :80px !important;*/
	display: flex !important;
	justify-content: space-between !important;
}


/* logo variations */

img.hapigood-logo.without-text {
	width: 50%;
	margin-bottom: 16px;
}

.write-review-btn-link {
	align-self: center !important;
}


/*@media only screen and (max-device-width: 376px){*/


/*	img.hapigood-logo{*/


/*		width: 130px;*/


/*	}*/


/*	img.hapigood-logo{*/


/*		width: 140px;*/


/*	}*/


/*}*/

@media only screen and (max-device-width :460px) {
	.show-review-posts-row .logos-img img {
		height: auto !important;
	}
	/*img.hapigood-logo,*/
	/*img.write-review-btn{*/
	/*	display: block;*/
	/*}*/
	img.hapigood-logo {
		max-width: 130px !important;
	}
	img.write-review-btn {
		max-width: 200px !important;
	}
}

@media only screen and (max-device-width: 375px) {
	img.write-review-btn {
		max-width: 140px !important;
	}
}

.review-posts-article {
	margin: 0 0 30px 0 !important;
	width: 49%;
	padding: 30px;
	border: 2px solid #F2F4F1;
	box-sizing: border-box;
	border-radius: 8px;
}

.review-posts-article-full.review-posts-article{
	display: block;
	width: 100%;
	margin-bottom: 0;
}

.review-posts-entry-header {
	display: flex;
	flex-direction: column;
}

.review-posts-full-content,
span.close-link-full-review {
	display: none !important;
}



/* Elements */


/* links */



span.link-full-review:hover,
span.close-link-full-review:hover {
	cursor: pointer !important;
}

.show-review-posts-row a:hover,
.show-review-posts-row a:active {
	text-decoration: none !important;
}

.show-review-posts-row .show {
	display: block !important;
}

.show-review-posts-row .hide {
	display: none !important;
}


/* header */

.review-author-name,
.review-author-name b {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: #072630;
}

.review-author-name {
	display: block !important;
}

.review-author-name b {
	color: #767676 !important;
}

.review-posts-date {
	font-family: 'Inter', sans-serif !important;
	font-weight: normal !important;
	font-size: 12px !important;
	color: #C4C4C4 !important;
	margin-right: 20px !important;
	padding-top: .5rem !important;
}

.review-posts-link-to-source {
	font-size: 16px !important;
}


.review-author-description{
	font-size: 16px;
	line-height: 24px;
	color: #A6B19B;
}

.review-posts-right{
	display: flex;
    flex-flow: column;
    align-items: flex-end;
}

/* entry-content */

.review-posts-entry-content,
.review-posts-full-content {
	font-style: normal;
	font-size: 18px;
	color: #767676;
}

.review-posts-entry-content p,
.review-posts-full-content p {
	margin-bottom: 17px;
	font-size: 18px;
	line-height: 28px;
    color: #072630;
}

.link-full-review,
.close-link-full-review {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.show-review-posts-row a.more-button {
	max-width: 240px;
	display: block;
	border: 2px solid #ABD490;
	box-sizing: border-box;
	border-radius: 8px;
	padding: 10px 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #072630;
	text-decoration: none;
	transition: all .3s ease;
}

.show-review-posts-row a.more-button:hover {
	background: #ABD490 !important;

	transition: all .3s ease;
}

.show-review-posts-footer{
	padding-top: 0;
	margin-top: 0;
}

.show-review-posts-share{
	display: flex;
	align-items: center;
}

.show-review-posts-share a{
	width: 32px;
	height: 32px;
}

.show-review-posts-share p{
	color: #072630;
	font-weight: 700;
	margin-right: 10px !important;
}
/* Pagination */
.show-review-posts-flex-nav{
	text-align: center;
	padding-top: 0;
}

.show-review-posts-row .page-numbers,
.show-review-posts-row .prev.page-numbers,
.show-review-posts-row .next.page-numbers {
    display: inline-block !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 10px !important;
    background: #fff !important;
    padding: 12px 40px !important;
    margin-top: 10px !important;
    text-decoration: none !important;
    border: 2px solid #f2f4f1 !important;
    border-radius: 5px !important;
}

.show-review-posts-row .page-numbers {
	padding: 12px !important;
}
.show-review-posts-row .page-numbers,
.show-review-posts-row .page-numbers:visited{
	color:#000 !important;
}

.show-review-posts-row .page-numbers:hover,
.show-review-posts-row .page-numbers.current,
.show-review-posts-row .prev.page-numbers:hover,
.show-review-posts-row .next.page-numbers:hover {
    background: #59D0DB !important;
    color: #FFFFFF !important;
    border-color: #59D0DB !important;
}

@media only screen and (max-device-width :560px) {
	.show-review-posts-row .page-numbers,
	.show-review-posts-row .prev.page-numbers,
	.show-review-posts-row .next.page-numbers {
		font-size: 10px !important;
		padding: 6px 20px !important;
	}
	.show-review-posts-row .page-numbers {
		padding: 6px 10px !important;
	}
}


.show-review-posts-row .show-review-posts-prev-next .nav-links{
	width: 104px;
}

.show-review-posts-row .nav-links div a{
	display: flex;
	width: 48px;
	height: 48px;
	box-sizing: border-box;
	border: 2px solid #F2F4F1;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	padding: 0;
}

.show-review-posts-full-footer{
	display: flex;
    justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/* css helper truncate content */

.truncate-text {
	width: 100% !important;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	margin: 0 !important;
	/*resize: horizontal;*/
}

.w-image-h img {
	padding-left: 40px;
}

.l-review {
	padding-top: 50px;
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
}

@media (max-width: 1261px) {
	.l-review {
		padding-top: 40px;
	}
}

/* .show-review-posts-row .nav-title {
	color: #2AC2CD;
} */

/* .show-review-posts-row .nav-links div a span {
	margin: 0 15px;
}

.show-review-posts-row .nav-links div a span,
.show-review-posts-row .nav-links div a{
	border:0 !important;
} */


.l-review .review-posts-entry-content img {
	max-width: 25%;
}

.l-review a.review-posts-link-to-source {
	color: #2AC2CD;
}

.share.fancybox-content {
	padding: 44px 20px 20px 20px;
	overflow: hidden;
}

.review-posts-entry-header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.l-review a.review-posts-link-to-source {
	display: block;
}

.review-author-name,
.review-author-name b {
	text-align: left;
	transition: all .3s ease;
}

.review-author-name b strong {
	color: #2AC2CD !important;
}

.review-posts-link-to-source {
	font-size: 13px !important;
	margin-top: 5px;
}

.review-share-link {
	text-align: right;
	cursor: pointer;
}

.review-share-link svg {
	fill: #2AC2CD;
	width: 32px;
	height: 32px;
}

.show-review-posts-row .review-posts-date {
	text-align: right;
	margin-right: 0 !important;
}

.show-review-posts-row h3.see-more {
	text-align: center;
	margin-top: 30px !important;
}

/* .show-review-posts-row .nav-links {
	display: flex;
	justify-content: space-between;
	margin: 30px 0 50px 0;
} */

.share .fancybox-button:hover,
.share .fancybox-button:focus {
	background: inherit !important;
}

.show-review-posts-row .nav-title {
	color: #2AC2CD;
}

.show-review-posts-row .nav-links {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}

/* .show-review-posts-row .nav-links div a {
	display: flex;
	align-items: center;
	background: transparent;
	box-shadow: none;
}

.show-review-posts-row .nav-links div a span {
	margin: 0 15px;
} */

/* .show-review-posts-row .nav-links svg {
	width: 25px;
	height: auto;
} */

/* .show-review-posts-row .nav-links svg path {
	stroke: #2AC2CD !important;
} */

.show-review-posts-row .show-review-posts-row h3.see-more {
	font-weight: normal;
}

.link-full-review, 
.link-full-review a{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #072630;
	text-decoration: none;
	transition: all .3s ease;
}

.link-full-review:hover, 
.link-full-review a:hover{
	color: #59d0db;
}

.nav-next,
.nav-previous{
	float: none !important;
    text-align: inherit !important;
    width: auto !important;
}

/* Popup full rev */
#fn-fullrev{
    display: inline-block;
    position: relative;
    padding: 30px;
    width: 95%;
    max-width: 580px;
	font-family: 'Inter', sans-serif;
}

#fn-fullrev h2,
#fn-fullrev span,
#fn-fullrev p{
	font-family: 'Inter', sans-serif;
	margin: 0;
}

#fn-fullrev h2{
	font-size: 18px;
    font-weight: 700;
    margin-top: 0;
	max-width: 80%;
	text-transform: none;
}

#fn-fullrev h2 a{
	text-decoration: none !important;
	color: #072630;
}

#fn-fullrev h2 a:hover{
	color: #072630;
}

#fn-fullrev .fn-description{
	font-weight: 400;
    font-size: 16px;
	max-width: 80%;
    color: #A6B19B;
}

#fn-fullrev .fn-meta{
    display: flex;
    align-items: center;
}

#fn-fullrev .fn-meta span{
	font-weight: 400;
	font-size: 12px;
	color: #A6B19B;
	line-height: 1;
}

#fn-fullrev .fn-content{
	margin-top: 30px;
}

#fn-fullrev .fn-content p{
	font-size: 18px;
}

#fn-fullrev .show-review-posts-share{
	border-top: 2px solid #F2F4F1;
    padding-top: 30px;
    margin-top: 30px;
	align-items: center;
}


#fn-fullrev .fancybox-close-small{
	width: 48px;
	height: 48px;
	right: 30px;
	top: 30px;
	border: 2px solid #F2F4F1;
	box-sizing: border-box;
	border-radius: 100px;
	transition: all .3s ease;
}

#fn-fullrev .fancybox-close-small:hover{
	background: #F2F4F1;
	transition: all .3s ease;
}

#fn-fullrev .fancybox-button svg path{
	fill: #7DCDD4;
}

#fn-fullrev .fn-content img{
	max-width: 25%;
}

@media (max-width: 767px){
	.review-posts-article{
		width: 100%;
	}
	.show-review-posts-row a.more-button{
		max-width: 100%;
	}
	.show-review-posts-flex-article, .show-review-posts-flex-header{
		justify-content: center;
	}
	.show-review-posts-header-right{
		width: 100%;
		justify-content: space-between;
		margin-top: 30px;
	}

	.show-review-posts-header-rating__revcounter,
	.show-review-posts-header-rating .scale{
		display: none;
	}

	.show-review-posts-header-rating{
		width: 80px;
	}


}

@media (max-width: 450px){
	.show-reviews-posts-share-button{
		max-width: 170px;
	}
	.show-reviews-posts-share-button{
		font-size: 13px;
	}
}

.show-review-posts-header-rating__num,
.show-review-posts-header-rating .scale{
	opacity: 0;
	cursor: default;
}

/* .nav-previous,
.nav-next{
	transform: rotate(180deg);
} */